.black-nav {
  color: white;
  height: 160px;
  border-bottom: 1px solid grey;
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1280px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.container {
  flex: 0 0 calc(25% - 15px);
  height: 400px;
  display: flex;
  width: 300px;
  margin-bottom: 20px;
  flex-direction: column;
  text-decoration: none;
}

.detail:visited {
  color: none;
}

.card {
  width: 100%;
  height: 100%;
}

.name-search{
  height: 50px;
  width: 500px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.name-search:focus-within{
  border-style: solid;
  border-width: 2px;
}

.pokename{
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  font-size: 22px;
  padding-left: 10px;
}

.pokename:focus{
  outline: none;
}

.search-button{
  height: 100%;
  width: 100px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: #D1B2FF;
}

.search-button:hover{
  background-color: #A566FF;
}

.detail-button{
  height: 50px;
  width: 100px;
  padding: 0;
  border: 0;
  cursor: pointer;
  font-size: 14px;
}

.detail-button:hover{
  background-color: gray;
}


/* 카드 디테일 css */
.card-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.card-explain{
  width: 60%;
}

.attack_detail{
  display: flex;
  height: 100px;

  flex-direction: column;
}

@media (max-width: 1024px) {
  .container {
    flex: 0 0 calc(33.33% - 15px); /* 한 행에 3개 */
    width: auto; /* 너비 자동 조정 */
    height: auto; /* 높이 자동 조정 */
  }
}

@media (max-width : 768px){
  
  .container {
    flex: 0 0 calc(50% - 15px); /* 한 행에 2개 */
    width: auto;
    height: auto;
  }

  .card-detail{
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container {
    flex: 0 0 calc(100% - 15px); /* 한 행에 하나씩 */
    width: auto;
    height: auto;
    margin-bottom: 10px; /* 좁은 화면에서 간격 줄이기 */
  }
}